<ion-view cache-view="false" view-title="FilesToBanco" hide-back-button="true">
  <ion-nav-buttons side="right"> 
    <button class="button button-stable" ng-hide="FilesToBanco.inserting || FilesToBanco.editing" ng-click="FilesToBanco.startInserting()"> <i class="icon ion-plus-round"></i> </button>
    <button class="button button-stable" ng-show="FilesToBanco.inserting || FilesToBanco.editing" ng-click="FilesToBanco.post()"> <i class="icon ion-checkmark"></i> </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-hide="FilesToBanco.inserting || FilesToBanco.editing" menu-toggle="left"> </button>
    <button class="button button-stable" ng-show="FilesToBanco.inserting || FilesToBanco.editing" ng-click="FilesToBanco.cancel()"> <i class="icon ion-android-arrow-back"></i> </button>
  </ion-nav-buttons>
  <ion-content>
    <div ng-hide="FilesToBanco.inserting || FilesToBanco.editing" data-component="crn-datasource-filter" id="crn-datasource-filter-general" class="">
      <label class="item item-input" id="cloud-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text"  ng-model="vars.search" cronapp-filter="id;" cronapp-filter-operator="" cronapp-filter-autopost="true" crn-datasource="FilesToBanco" value="" placeholder="{{'template.crud.search' | translate}}">
      </label>
    </div>   
    <div class="component-holder ng-binding ng-scope ui-draggable ui-draggable-handle" data-component="crn-datasource" id="crn-datasource-906854">
      <datasource  name="FilesToBanco" entity="api/cronapi/crud/app.entity.FilesToBanco" keys="id" rows-per-page="10" delete-message="Deseja remover?" class=""></datasource>
    </div>
    <div crn-datasource="FilesToBanco" class="" ng-hide="FilesToBanco.editing || FilesToBanco.inserting">
      <ion-list can-swipe="listCanSwipe">
        <ion-item ng-repeat="rowData in datasource.data" class="item" ng-click="datasource.startEditing(rowData)">
          <div class="row">
            <div class="col">
              <button ng-if="rowData.imgdb_01" class="button" ng-click="cronapi.internal.downloadFileEntityMobile(datasource, 'imgdb_01', $index)">
                  <span class="icon ion-android-download"></span>
              </button>
            </div>
            <div class="col">
              <button ng-if="rowData.imgdb_02" class="button" ng-click="cronapi.internal.downloadFileEntityMobile(datasource, 'imgdb_02', $index)">
                  <span class="icon ion-android-download"></span>
              </button>
            </div>
            <div class="col">
              <button ng-if="rowData.imgdb_03" class="button" ng-click="cronapi.internal.downloadFileEntityMobile(datasource, 'imgdb_03', $index)">
                  <span class="icon ion-android-download"></span>
              </button>
            </div>
            <div class="col">
              <button ng-if="rowData.imgdb_04" class="button" ng-click="cronapi.internal.downloadFileEntityMobile(datasource, 'imgdb_04', $index)">
                  <span class="icon ion-android-download"></span>
              </button>
            </div>
            <div class="col">
              <button ng-if="rowData.imgdb_05" class="button" ng-click="cronapi.internal.downloadFileEntityMobile(datasource, 'imgdb_05', $index)">
                  <span class="icon ion-android-download"></span>
              </button>
            </div>
            <div class="col">
              <button ng-if="rowData.videoDB" class="button" ng-click="cronapi.internal.downloadFileEntityMobile(datasource, 'videoDB', $index)">
                  <span class="icon ion-android-download"></span>
              </button>
            </div>
          </div>
          <ion-option-button class="button-positive" ng-click="datasource.startEditing(rowData)">
            <i class="icon ion-edit"></i>
          </ion-option-button>
          <ion-option-button class="button-assertive" ng-click="datasource.remove(rowData)">
            &nbsp;
            <i class="icon ion-trash-a"></i>
          </ion-option-button>
        </ion-item>
      </ion-list>
    </div>
    <div ng-show="FilesToBanco.editing || FilesToBanco.inserting">
      <form crn-datasource="FilesToBanco">
        <fieldset ng-disabled="!FilesToBanco.editing &amp;&amp; !FilesToBanco.inserting">
          <div class="list">
            <!-- imgdb_01 begin -->
            <div class="component-holder ng-binding ng-scope" data-component="crn-dynamic-file" >
              <div class="item item-input item-stacked-label">
                <label class="input-label">Imagem 01</label>
                <div class="form-group">
                  <div dynamic-file="" ng-model="FilesToBanco.active.imgdb_01" max-file-size="5MB" class="dynamic-image-container" ng-required="false">
                    {{"template.crud.clickToAddFile" | translate}}
                  </div>
                </div>
              </div>
            </div> 
            <!-- imgdb_02 begin -->
            <div class="component-holder ng-binding ng-scope" data-component="crn-dynamic-file" >
              <div class="item item-input item-stacked-label">
                <label class="input-label">Imagem 02</label>
                <div class="form-group">
                  <div dynamic-file="" ng-model="FilesToBanco.active.imgdb_02" max-file-size="5MB" class="dynamic-image-container" ng-required="false">
                    {{"template.crud.clickToAddFile" | translate}}
                  </div>
                </div>
              </div>
            </div> 
            <!-- imgdb_03 begin -->
            <div class="component-holder ng-binding ng-scope" data-component="crn-dynamic-file" >
              <div class="item item-input item-stacked-label">
                <label class="input-label">Imagem 03</label>
                <div class="form-group">
                  <div dynamic-file="" ng-model="FilesToBanco.active.imgdb_03" max-file-size="5MB" class="dynamic-image-container" ng-required="false">
                    {{"template.crud.clickToAddFile" | translate}}
                  </div>
                </div>
              </div>
            </div> 
            <!-- imgdb_04 begin -->
            <div class="component-holder ng-binding ng-scope" data-component="crn-dynamic-file" >
              <div class="item item-input item-stacked-label">
                <label class="input-label">Imagem 04</label>
                <div class="form-group">
                  <div dynamic-file="" ng-model="FilesToBanco.active.imgdb_04" max-file-size="5MB" class="dynamic-image-container" ng-required="false">
                    {{"template.crud.clickToAddFile" | translate}}
                  </div>
                </div>
              </div>
            </div> 
            <!-- imgdb_05 begin -->
            <div class="component-holder ng-binding ng-scope" data-component="crn-dynamic-file" >
              <div class="item item-input item-stacked-label">
                <label class="input-label">Imagem 05</label>
                <div class="form-group">
                  <div dynamic-file="" ng-model="FilesToBanco.active.imgdb_05" max-file-size="5MB" class="dynamic-image-container" ng-required="false">
                    {{"template.crud.clickToAddFile" | translate}}
                  </div>
                </div>
              </div>
            </div> 
            <!-- videoDB begin -->
            <div class="component-holder ng-binding ng-scope" data-component="crn-dynamic-file" >
              <div class="item item-input item-stacked-label">
                <label class="input-label">Video P/ Banco</label>
                <div class="form-group">
                  <div dynamic-file="" ng-model="FilesToBanco.active.videoDB" max-file-size="5MB" class="dynamic-image-container" ng-required="false">
                    {{"template.crud.clickToAddFile" | translate}}
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </fieldset>
      </form>
    </div>
  </ion-content>
</ion-view>
